.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  background-color: black; /* Set the background to black */
  color: white; /* Set text color to white for contrast */
  min-height: 100vh;
}


.input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333; /* Dark background for the input */
  color: white; /* Set text color to white for contrast */
  min-height: 150px; /* Set a minimum height if needed */
}

.verseDisplay {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333; /* Dark background for the output */
  color: white; /* Set text color to white for contrast */
  min-height: 150px; /* Set a minimum height if needed */
}


.header {
  margin-bottom: 20px;
}

.main {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.verseDisplay {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback {
  margin-top: 20px;
}

.feedbackButton {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}